<div class="row" id="row-284332141">


    <div id="col-1513678047" class="col large-12">
        <div class="col-inner">



            <div class="container section-title-container">
                <h3 class="section-title section-title-bold-center"><b></b><span class="section-title-main">Frequently
                        Asked Questions</span><b></b></h3>
            </div>

            <div class="accordion">

                <div id="accordion-2514565813" class="accordion-item">
                    <a id="accordion-2514565813-label" class="accordion-title plain"
                        href="#accordion-item-what-type-of-books-do-you-sell?" aria-expanded="false"
                        aria-controls="accordion-2514565813-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>What type of books do you sell?</span>
                    </a>
                    <div id="accordion-2514565813-content" class="accordion-inner"
                        aria-labelledby="accordion-2514565813-label">


                        <p><span style="font-weight: 400;">We only sell brand new English non-fiction and fiction books.
                                We do not sell educational books or Sinhala/Tamil books.</span></p>

                    </div>
                </div>

                <div id="accordion-2725244768" class="accordion-item">
                    <a id="accordion-2725244768-label" class="accordion-title plain"
                        href="#accordion-item-what-are-your-delivery-charges?" aria-expanded="false"
                        aria-controls="accordion-2725244768-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>What are your delivery charges?</span>
                    </a>
                    <div id="accordion-2725244768-content" class="accordion-inner"
                        aria-labelledby="accordion-2725244768-label">


                        <p><span style="font-weight: 400;">We charge a flat rate of Rs.350 for delivery. If your order
                                value is above Rs. 5,000 you get free delivery island wide!</span></p>

                    </div>
                </div>

                <div id="accordion-2426553536" class="accordion-item">
                    <a id="accordion-2426553536-label" class="accordion-title plain"
                        href="#accordion-item-do-you-accept-cod-(cash-on-delivery)?" aria-expanded="false"
                        aria-controls="accordion-2426553536-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Do you accept COD (Cash On Delivery)?</span>
                    </a>
                    <div id="accordion-2426553536-content" class="accordion-inner"
                        aria-labelledby="accordion-2426553536-label">


                        <p><span style="font-weight: 400;">Yes. We accept CoD. You can select CoD at the checkout
                                page.</span></p>

                    </div>
                </div>

                <div id="accordion-2515249714" class="accordion-item">
                    <a id="accordion-2515249714-label" class="accordion-title plain"
                        href="#accordion-item-which-payment-methods-are-accepted?" aria-expanded="false"
                        aria-controls="accordion-2515249714-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Which payment methods are accepted?</span>
                    </a>
                    <div id="accordion-2515249714-content" class="accordion-inner"
                        aria-labelledby="accordion-2515249714-label">


                        <p><span style="font-weight: 400;">We accept VISA, Mastercard, AMEX and all the popular online
                                payment methods. We accept Cash-On-Delivery for any order amount. You can also choose to
                                pay in instalments via MintPay. We do not accept Direct Bank Transfers.</span></p>

                    </div>
                </div>

                <div id="accordion-2945979900" class="accordion-item">
                    <a id="accordion-2945979900-label" class="accordion-title plain"
                        href="#accordion-item-do-you-maintain-a-stock-of-books-in-sri-lanka?" aria-expanded="false"
                        aria-controls="accordion-2945979900-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Do you maintain a stock of books in Sri Lanka?</span>
                    </a>
                    <div id="accordion-2945979900-content" class="accordion-inner"
                        aria-labelledby="accordion-2945979900-label">


                        <p><span style="font-weight: 400;">Yes we do. We have our own inventory of books in Sri Lanka.
                                That’s why our customers love purchasing from us. We deliver books as soon as you order
                                from us.</span></p>

                    </div>
                </div>

                <div id="accordion-69461088" class="accordion-item">
                    <a id="accordion-69461088-label" class="accordion-title plain"
                        href="#accordion-item-how-long-will-delivery-take?" aria-expanded="false"
                        aria-controls="accordion-69461088-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>How long will delivery take?</span>
                    </a>
                    <div id="accordion-69461088-content" class="accordion-inner"
                        aria-labelledby="accordion-69461088-label">


                        <p><span style="font-weight: 400;">We deliver within 2-5 working days throughout Sri
                                Lanka.</span></p>

                    </div>
                </div>

                <div id="accordion-1434546146" class="accordion-item">
                    <a id="accordion-1434546146-label" class="accordion-title plain"
                        href="#accordion-item-where-is-your-bookstore?" aria-expanded="false"
                        aria-controls="accordion-1434546146-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Where is your bookstore?</span>
                    </a>
                    <div id="accordion-1434546146-content" class="accordion-inner"
                        aria-labelledby="accordion-1434546146-label">


                        <p>We do not have a physical bookstore. We are purely online.</p>

                    </div>
                </div>

                <div id="accordion-619258373" class="accordion-item">
                    <a id="accordion-619258373-label" class="accordion-title plain"
                        href="#accordion-item-are-these-books-brand-new-or-used?" aria-expanded="false"
                        aria-controls="accordion-619258373-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Are these books brand new or used?</span>
                    </a>
                    <div id="accordion-619258373-content" class="accordion-inner"
                        aria-labelledby="accordion-619258373-label">


                        <p>All the books are BRAND NEW bestsellers. We do not sell used books.</p>

                    </div>
                </div>

                <div id="accordion-1640136372" class="accordion-item">
                    <a id="accordion-1640136372-label" class="accordion-title plain"
                        href="#accordion-item-do-you-sell-reprints-or-original-books?" aria-expanded="false"
                        aria-controls="accordion-1640136372-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Do you sell reprints or original books?</span>
                    </a>
                    <div id="accordion-1640136372-content" class="accordion-inner"
                        aria-labelledby="accordion-1640136372-label">


                        <p>We don&#8217;t sell reprints to avoid copyright infringement and to uphold the quality of our
                            products. Instead, we directly source books from authorized publishers, ensuring each
                            purchase comes with that assurance.</p>

                    </div>
                </div>

                <div id="accordion-873099880" class="accordion-item">
                    <a id="accordion-873099880-label" class="accordion-title plain"
                        href="#accordion-item-can-i-come-and-pickup-a-book-from-your-warehouse?" aria-expanded="false"
                        aria-controls="accordion-873099880-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Can I come and pickup a book from your warehouse?</span>
                    </a>
                    <div id="accordion-873099880-content" class="accordion-inner"
                        aria-labelledby="accordion-873099880-label">


                        <p><span style="font-weight: 400;">We only do deliveries at the moment so you cannot pick up
                                orders from our warehouse. But to make it up to you, we deliver island wide.</span></p>

                    </div>
                </div>

                <div id="accordion-3946393270" class="accordion-item">
                    <a id="accordion-3946393270-label" class="accordion-title plain"
                        href="#accordion-item-can-you-get-me-a-book-that-is-not-listed-on-your-website?"
                        aria-expanded="false" aria-controls="accordion-3946393270-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Can you get me a book that is not listed on your website?</span>
                    </a>
                    <div id="accordion-3946393270-content" class="accordion-inner"
                        aria-labelledby="accordion-3946393270-label">


                        <p>Sorry. We can’t do customized orders because it’s super costly for us. But you can request a
                            book <a href="https://jumpbooks.lk/request-a-book/">here.&nbsp;</a></p>

                    </div>
                </div>

                <div id="accordion-1405487240" class="accordion-item">
                    <a id="accordion-1405487240-label" class="accordion-title plain"
                        href="#accordion-item-do-i-have-to-create-an-account-before-ordering?" aria-expanded="false"
                        aria-controls="accordion-1405487240-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Do I have to create an account before ordering?</span>
                    </a>
                    <div id="accordion-1405487240-content" class="accordion-inner"
                        aria-labelledby="accordion-1405487240-label">


                        <p>Yes. You have to create an account. You can simply add a username and a password during
                            checkout. Or else, click on Login/Register button on the top right corner.&nbsp;</p>
                        <p>Once you have an account with us, you can easily purchase products in future.&nbsp;</p>
                        <p>Not only that. You can manage your orders, add products to a wishlist and do so much more!
                        </p>

                    </div>
                </div>

                <div id="accordion-3600436008" class="accordion-item">
                    <a id="accordion-3600436008-label" class="accordion-title plain"
                        href="#accordion-item-do-you-have-a-loyalty-program?" aria-expanded="false"
                        aria-controls="accordion-3600436008-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Do you have a loyalty program?</span>
                    </a>
                    <div id="accordion-3600436008-content" class="accordion-inner"
                        aria-labelledby="accordion-3600436008-label">


                        <p>Yes we do. For every Rs.100 you spend, you will earn Rs.1. You can learn more about it <a
                                href="https://jumpbooks.lk/loyalty-points/">here.</a></p>

                    </div>
                </div>

                <div id="accordion-1880523170" class="accordion-item">
                    <a id="accordion-1880523170-label" class="accordion-title plain"
                        href="#accordion-item-what-are-your-business-hours?" aria-expanded="false"
                        aria-controls="accordion-1880523170-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>What are your business hours?</span>
                    </a>
                    <div id="accordion-1880523170-content" class="accordion-inner"
                        aria-labelledby="accordion-1880523170-label">


                        <p><span style="font-weight: 400;">We are open Monday-Friday from 9am to 5pm. We are closed on
                                Mercantile and Poya holidays.</span></p>

                    </div>
                </div>

                <div id="accordion-2840667178" class="accordion-item">
                    <a id="accordion-2840667178-label" class="accordion-title plain"
                        href="#accordion-item-can-we-place-an-order-through-dms/whatsapp/messenger/phone-call?"
                        aria-expanded="false" aria-controls="accordion-2840667178-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Can we place an order through DMs/WhatsApp/Messenger/phone call?</span>
                    </a>
                    <div id="accordion-2840667178-content" class="accordion-inner"
                        aria-labelledby="accordion-2840667178-label">


                        <p><span style="font-weight: 400;">We don’t take any orders through messaging services or over
                                the phone. All orders must be placed through our website </span><a
                                href="http://www.jumpbooks.lk"><span
                                    style="font-weight: 400;">www.jumpbooks.lk</span></a></p>

                    </div>
                </div>

                <div id="accordion-1591970462" class="accordion-item">
                    <a id="accordion-1591970462-label" class="accordion-title plain"
                        href="#accordion-item-can-you-tell-me-when-a-particular-book-will-be-back-in-stock?"
                        aria-expanded="false" aria-controls="accordion-1591970462-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Can you tell me when a particular book will be back in stock?</span>
                    </a>
                    <div id="accordion-1591970462-content" class="accordion-inner"
                        aria-labelledby="accordion-1591970462-label">


                        <p><span style="font-weight: 400;">We can’t always give you exact restock dates for books. But
                                you can sign up for back-in-stock notifications by searching for a book on our website
                                and entering your name + email address. Then you’ll be automatically notified when the
                                book is back!</span></p>

                    </div>
                </div>

                <div id="accordion-2992382821" class="accordion-item">
                    <a id="accordion-2992382821-label" class="accordion-title plain"
                        href="#accordion-item-can-you-tell-me-if-a-particular-book-is-available?" aria-expanded="false"
                        aria-controls="accordion-2992382821-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Can you tell me if a particular book is available?</span>
                    </a>
                    <div id="accordion-2992382821-content" class="accordion-inner"
                        aria-labelledby="accordion-2992382821-label">


                        <p><span style="font-weight: 400;">Our website is updated in real-time. If a book is available,
                                you can buy it immediately! If it is not available, it will be labelled as “out of
                                stock” on the website.</span></p>

                    </div>
                </div>

                <div id="accordion-2461456523" class="accordion-item">
                    <a id="accordion-2461456523-label" class="accordion-title plain"
                        href="#accordion-item-can-i-reserve-a-book?" aria-expanded="false"
                        aria-controls="accordion-2461456523-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Can I reserve a book?</span>
                    </a>
                    <div id="accordion-2461456523-content" class="accordion-inner"
                        aria-labelledby="accordion-2461456523-label">


                        <p><span style="font-weight: 400;">We don’t take reservations as we only get a limited number of
                                copies. Sorry.</span></p>

                    </div>
                </div>

                <div id="accordion-3961912094" class="accordion-item">
                    <a id="accordion-3961912094-label" class="accordion-title plain"
                        href="#accordion-item-can-i-sell-my-book-at-your-store?" aria-expanded="false"
                        aria-controls="accordion-3961912094-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Can I sell my book at your store?</span>
                    </a>
                    <div id="accordion-3961912094-content" class="accordion-inner"
                        aria-labelledby="accordion-3961912094-label">


                        <p><span style="font-weight: 400;">Yes, we love to support local authors/publishers! If you
                                would like us to sell your book, contact us on +94767271345 to find out our terms of
                                sale and further details.</span></p>

                    </div>
                </div>

                <div id="accordion-2715580899" class="accordion-item">
                    <a id="accordion-2715580899-label" class="accordion-title plain"
                        href="#accordion-item-can-we-return/exchange-a-book-if-we-don’t-like-it?" aria-expanded="false"
                        aria-controls="accordion-2715580899-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Can we return/exchange a book if we don’t like it?</span>
                    </a>
                    <div id="accordion-2715580899-content" class="accordion-inner"
                        aria-labelledby="accordion-2715580899-label">


                        <p><span style="font-weight: 400;">We don’t accept returns/exchanges if you change your mind. We
                                only accept returns/exchanges if a book was damaged during delivery. </span></p>

                    </div>
                </div>

                <div id="accordion-2997668032" class="accordion-item">
                    <a id="accordion-2997668032-label" class="accordion-title plain"
                        href="#accordion-item-can-i-cancel-an-order-that-i-placed?" aria-expanded="false"
                        aria-controls="accordion-2997668032-content">
                        <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                        <span>Can I cancel an order that I placed?</span>
                    </a>
                    <div id="accordion-2997668032-content" class="accordion-inner"
                        aria-labelledby="accordion-2997668032-label">


                        <p><span style="font-weight: 400;">You may cancel an order if it hasn’t been shipped yet. Once
                                shipped, usually on the next working day, it is too late to cancel. </span></p>

                    </div>
                </div>


            </div>

        </div>
    </div>



    <div id="col-1132627012" class="col small-12 large-12">
        <div class="col-inner">



            <!-- <p><span style="font-weight: 400;">Didn’t find the answer you were looking for? You can call, text or
                    WhatsApp us on +94767271345. You can also email us at </span><a
            </p> -->
        </div>
    </div>



</div>


<app-footer></app-footer>
