<div class="row" id="row-284332141">

    <div id="col-1513678047" class="col large-12">
        <div class="col-inner">

            <div class="container section-title-container">
                <h3 class="section-title section-title-bold-center"><b></b><span class="section-title-main">Frequently
                        Asked Questions</span><b></b></h3>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <span>
                        <h5>What type of books do you sell?</h5>
                    </span>
                    <div>
                        <p><span style="font-weight: 400;">We only sell brand new English Novels.
                                We do not sell educational books or Sinhala/Tamil books.</span></p>
                    </div>
                </div>

                <div id="accordion-2725244768" class="accordion-item">
                    <span>
                        <h5>What are your delivery charges?</h5>
                    </span>
                    <div>
                        <p><span style="font-weight: 400;">We charge a flat rate of Rs.350 for delivery. If your order
                                value is above Rs. 5,000 you get free delivery island wide!</span></p>
                    </div>
                </div>

                <div id="accordion-2426553536" class="accordion-item">
                    <span>
                        <h5>Do you accept COD (Cash On Delivery)?</h5>
                    </span>
                    <div>
                        <p><span style="font-weight: 400;">Yes. We accept CoD.
                                page.</span></p>
                    </div>
                </div>

                <div id="accordion-69461088" class="accordion-item">
                    <span>
                        <h5>How long will delivery take?</h5>
                    </span>
                    <div>
                        <p><span style="font-weight: 400;">We deliver within 2-5 working days throughout Sri
                                Lanka.</span></p>
                    </div>
                </div>

                <div id="accordion-1434546146" class="accordion-item">
                    <span>
                        <h5>Where is your bookstore?</h5>
                    </span>
                    <div>
                        <p>We do not have a physical bookstore. We are purely online.</p>

                    </div>
                </div>

                <div id="accordion-619258373" class="accordion-item">
                    <span>
                        <h5>Are these books brand new or used?</h5>
                    </span>
                    <div>
                        <p>All the books are BRAND NEW bestsellers. We do not sell used books.</p>
                    </div>
                </div>

                <div>
                    <span>
                        <h5>Do you sell reprints or original books?</h5>
                    </span>
                    <div>
                        <p>We don&#8217;t sell reprints to avoid copyright infringement and to uphold the quality of our
                            products. Instead, we directly source books from authorized publishers, ensuring each
                            purchase comes with that assurance.</p>
                    </div>
                </div>
                <div>
                    <span>
                        <h5>Can I come and pickup a book from your warehouse?</h5>
                    </span>
                    <div>
                        <p><span style="font-weight: 400;">We only do deliveries at the moment so you cannot pick up
                                orders from our warehouse. But to make it up to you, we deliver island wide.</span></p>

                    </div>
                </div>

                <div>
                    <span>
                        <h5>Can you get me a book that is not listed on your website?</h5>
                    </span>
                    <div>
                        <p>Sorry. We can’t do customized orders because it’s super costly for us. But you can request a
                            book </p>

                    </div>
                </div>

            </div>


            <app-footer></app-footer>