.modal-body{
    background-color: #d9cfc6 ;
    display: flex;
}

.form-section {
    flex: 1;
}

.image-section {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.form-section h1{
    background-color: #edc098;
}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    padding: 10px; 
    background-color: #f0f0f0; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.button-container .btn {
    width: 40%;
    padding: 5px 15px; 
    font-size: 14px; 
    margin: 0;
}