<!-- 
<header>
  <div class="nav">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <div class="logo">
          <img class="bi" width="100px" height="130px" role="img" aria-label="Bootstrap" src="Bookstore.png">
        </div>
        <div class="content">
        <div class="nav-bar m-4">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-white" routerLink="dashboard">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white" routerLink="about-us">About Us</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Shop</a></li>

            <li><a href="#" class="nav-link px-2 text-white">Orders</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Profile</a></li>
          </ul>
        </div>
      </div>
        <div class="button">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </div>
</header> -->


<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom nav">
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img class="logo" width="90px" height="80px" role="img" aria-label="Bootstrap" src="Bookstore.png">
    </a>
  </div>

  <div class="nav-bar">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-dark" routerLink="dashboard">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark" routerLink="about-us">About US</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Shop</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Orders</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Profile</a></li>
    </ul>
  </div>

  <div class="col-md-3 text-end me-5">
    <button type="button" class="btn btn-outline-primary me-2"  data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>