 .nav{
    
    background-color: #d9cfc6;
}

 .nav-bar{
    
    font-size: 20px;
}

.nav-bar ul li{
    margin: 15px;
}

.logo{
margin-left: 100px;
}
/*
.button{
    margin-left: 200px;
}

.content{
    margin-left: 200px;
} */




