<div class="container">
  <div class="catagories">
    <h1>All Books</h1>
  </div>
  <br>
  <div class="row row-cols-1 row-cols-md-4 g-5">
    <div class="col" *ngFor="let book of bookList">
      <div class="card h-100">
        <div class="campaign-image"
          [style.backgroundImage]="book.profileImagePath ? 'url(' + book.profileImagePath + ')' : 'url(assets/default-book.jpg)'">
          <img
            [src]="book.profileImagePath"
            class="card-img-top"
            height="350"
            alt="Book image"
          >
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">{{ book.description }}</p>
          <p>Price: {{ book.price }}</p>
          <button type="button" class="btn btn-danger" (click)="openDetails(book)">View Details</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': selectedBook}" [style.display]="selectedBook ? 'block' : 'none'">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ selectedBook?.title }}</h5>
          <button type="button" class="btn-close" (click)="closeDetails()">
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-image">
            <img [src]="selectedBook?.profileImagePath" class="img-fluid" alt="Book image">
          </div>
          <div class="modal-details">
            <p><strong>Description:</strong> {{ selectedBook?.description }}</p>
            <p><strong>Category:</strong> {{ selectedBook?.category }}</p>
            <p><strong>Author:</strong> {{ selectedBook?.author }}</p>
            <p><strong>Price:</strong> {{ selectedBook?.price }}</p>
            <p><strong>Quantity:</strong> {{ selectedBook?.qty }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>