<br>
<app-search-bar></app-search-bar>

<br>


<div class="container">


 <div class="images">


   <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
     <div class="carousel-inner">
       <div class="carousel-item active">
         <div class="carousel-1">
           <br><br><br><br>
           <p>Welcome to</p>
           <p>MY BOOKSTORE</p>
         </div>
       </div>
       <div class="carousel-item">
         <div class="carousel-2">
            <p>FREE</p>
            <p>ISLAND WIDE DELIVERY</p>
           
          
         </div>
       </div>
       <div class="carousel-item">
         <div class="carousel-3">
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quasi cum quos qui, eos mollitia cumque consequuntur dolores dolor tenetur aut, iusto quia dolorum minima asperiores amet fugit quo? Blanditiis.
           Tempore laboriosam eligendi, modi qui quasi accusamus temporibus fuga sint libero odit sapiente, sunt itaque quos expedita cumque ducimus. Illo id amet eos officia, nemo molestiae esse placeat dolorum facilis.</p>
         </div>
       </div>
     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
       data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
       data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
     </button>
   </div>
 </div>
</div>
<br>
<br>
<br>
<br>
<app-catagories></app-catagories>