


<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3  border-bottom nav">
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img class="logo" width="80px" height="" role="img" aria-label="Bootstrap" src="Bookstore.png">
    </a>
  </div>

  <div class="nav-bar">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-dark" routerLink="dashboard">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark" routerLink="about-us">About US</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Contact</a></li>
      
    </ul>
  </div>

  <div class="col-md-3 text-end me-5">
    <button type="button" class="btn btn-outline-primary me-2"  data-bs-toggle="modal" data-bs-target="#exampleModal" [routerLink]="['/login']">Login</button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>