<br>
<br>
<div class="container">
  <div class="row align-items-md-stretch">
    <div class="col-md-3">
      <!-- <img
          src="https://images.pexels.com/photos/4855385/pexels-photo-4855385.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="img-thumbnail" height="600px" width="700px" alt="..."> -->


      <div class="large-image">
        <img
          src="https://images.pexels.com/photos/4855385/pexels-photo-4855385.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Large Book Image">
      </div>
    </div>

    <div class="col-md-3">
      <!-- Top-right small image -->
      <div class="small-image1">
        <img src="https://images.pexels.com/photos/762686/pexels-photo-762686.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Person reading a book">
      </div>

      <!-- Bottom-right small image -->
      <div class="small-image2">
        <img src="https://images.pexels.com/photos/762686/pexels-photo-762686.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Glasses and books">
      </div>
    </div>



    <div class="col-md-6">
      <div class="about-us">
        <div class="h-100 p-5">

          <h2 class="text-center">About Us</h2>
          <br>

          <h4 class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat deleniti aspernatur velit quam at natus
            nemo illum pariatur? Necessitatibus nemo repellat dolore illum dolor incidunt est at molestiae hic s.</h4>
          Quaerat atque vel minima excepturi illum? Eligendi ducimus ipsum quasi. Beatae nam vero fugit facere eaque
          tenetur reiciendis itaque ut rem dolore provident laboriosam, porro temporibus, eum magnam eos quasi!

          <p class="text-center">
            Quisquam, magnam, voluptatum officia dolor qui placeat in minima nesciunt itaque dicta blanditiis recusandae
            voluptates fuga ducimus magni facilis ipsam unde reprehenderit? Eos dolorum dolore architecto perspiciatis
            inventore quaerat distinctio?
          </p>

        </div>
      </div>
    </div>

  </div>
</div>


<br>
<br>
<br>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" >Please Login :)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">UserName</label>
            <input type="text" class="form-control"  id="recipient-name" placeholder="exaple@gmail.com">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Password</label>
            <input type="password" class="form-control" id="recipient-name" placeholder="********">
          </div>
          
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">LogIn</button>
      </div>
    </div>
  </div>
</div>