<!-- <div class="loginOrReg">
  <ul>
    <i class="bi bi-person" style="font-size: 2rem "></i>
    <a href="">Login Or Register </a>
  </ul>
</div> -->


<!-- <nav class="navbar" style="background-color: #d4195e;">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nav> -->


<!-- <header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <div class="nav-bar">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>
      </div>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
  </div>
</header> -->



<br>


<div class="container">


  <div class="images">


    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-1">
            <br><br><br><br>
            <p>Welcome to</p>
            <p>MY BOOKSTORE</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-2">
             <p>FREE</p>
             <p>ISLAND WIDE DELIVERY</p>
            
           
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-3">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quasi cum quos qui, eos mollitia cumque consequuntur dolores dolor tenetur aut, iusto quia dolorum minima asperiores amet fugit quo? Blanditiis.
            Tempore laboriosam eligendi, modi qui quasi accusamus temporibus fuga sint libero odit sapiente, sunt itaque quos expedita cumque ducimus. Illo id amet eos officia, nemo molestiae esse placeat dolorum facilis.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" >Please Login :)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">UserName</label>
            <input type="text" class="form-control"  id="recipient-name" placeholder="exaple@gmail.com">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Password</label>
            <input type="password" class="form-control" id="recipient-name" placeholder="********">
          </div>
          
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">LogIn</button>
      </div>
    </div>
  </div>
</div>




<!-- <div class="container">
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <img
        src="https://images.pexels.com/photos/4855385/pexels-photo-4855385.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="img-thumbnail" height="600px" width="700px" alt="...">

    </div>
    <div class="col-md-6">
      <div class="about-us">
      <div class="h-100 p-5  ">
       
          <h2>About Us</h2>
          <br>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat deleniti aspernatur velit quam at natus
            nemo illum pariatur? Necessitatibus nemo repellat dolore illum dolor incidunt est at molestiae hic soluta.
            Quaerat atque vel minima excepturi illum? Eligendi ducimus ipsum quasi. Beatae nam vero fugit facere eaque
            tenetur reiciendis itaque ut rem dolore provident laboriosam, porro temporibus, eum magnam eos quasi!
            Quisquam, magnam, voluptatum officia dolor qui placeat in minima nesciunt itaque dicta blanditiis recusandae
            voluptates fuga ducimus magni facilis ipsam unde reprehenderit? Eos dolorum dolore architecto perspiciatis
            inventore quaerat distinctio?
          </p>
         
        </div>
      </div>
    </div>

  </div>


  <br>
  <br>
  <br> -->

